@import "mixin/button-mixin";
@import "mixin/media-screen";
@import "colors";

html.inet-mail-themes {
   ::-webkit-scrollbar {
      height: 11px;
      width: 11px;
   }
   ::-webkit-scrollbar-track {
      background: none;
   }
   ::-webkit-scrollbar-thumb {
      border-radius: 25px;
      background-color: rgba(black, .35);
      &:hover {
         background-color: rgba(black, .45);
      }
   }
   * > {
      [class*=intro-y] {
         animation-duration: .2s;
      }
   }
   a {
      text-decoration: none;
   }
   body {
      &.body-overflow-hidden {
         overflow: hidden;
         #mail-box-toggle {
            .intro-y.box {
               overflow-y: auto;
               overflow-x: hidden;
            }
         }
      }
   }
   .mosha__toast {
      &.success {
         background-color: get-color(green, 600);
      }
      // Begin HungHv: Sửa z-index thông báo cao hơn modal ( z-index của Modal là 10000)
      z-index: 12000 !important;
      // End HungHv: Sửa z-index thông báo cao hơn modal
   }
   .content {
      padding-top: 0;
      margin: 0;
      background-color: transparent;
   }
   .flag-active {
      color: get-color(blue, 600);
      svg,
      path {
         fill: get-color(blue, 600);
      }
   }
   .inbox {
      .inbox__item {
         transform: none;
         border-bottom-width: 1px;
         border-radius: 0;
         &:hover {
            background-color: #{rgba(get-color(blue, 500), .1)};
            box-shadow: none;
            .item-hover-border {
               border-color: rgba(black, .75);
            }
            .item-hover-color {
               color: rgba(black, .75);
            }
            .inbox__item--time {
               div.hidden {
                  display: block;
               }
               @include mediaScreenWidth(min, md) {
                  .time {
                     visibility: hidden;
                  }
               }
               @include mediaScreenWidth(max, md) {
                  div.hidden {
                     display: none;
                  }
               }
            }
         }
      }
   }
   .form {
      &-check {
         &-input {
            &[type=checkbox] {
               &:focus,
               &:checked,
               &:indeterminate {
                  border-color: rgb(59 130 246);
                  box-shadow: 0 0 0 3px rgba(white, .12);
               }
               &:checked,
               &:indeterminate {
                  background-color: blueviolet;
                  border-color: blueviolet;
                  box-shadow: 0 0 0 3px rgba(blueviolet, .35);
               }
            }
            &.check-all[type=checkbox] {
               &:checked {
                  background-color: blueviolet;
               }
            }
         }
      }
      &-switch {
         .form-check-input {
            &:before {
               background-color: rgba(white, .18);
            }
            &:checked:before {
               background-color: rgba(white, .35);
            }
         }
      }
   }
   .ck {
      .ck {
         &-heading-dropdown {
            .ck {
               &-dropdown {
                  &__button {
                     .ck-button__label {
                        color: rgba(black, .8) !important;
                     }
                  }
               }
            }
         }
      }
   }
   .ux-clicked {
      &:not(.absolute):not(.relative):not(.sticky)
      {
         position: relative;
      }
      &:not([class*=z-]) {
         z-index: 1;
      }
      &:before {
         content: "";
         height: 28px;
         width: 28px;
         border-radius: 25px;
         position: absolute;
         z-index: -1;
      }
   }
   @include mediaScreenWidth(max, md) {
      overflow-x: hidden;
      background-color: get-color(gray, 300);
      button {
         -webkit-tap-highlight-color: transparent;
      }
   }
}

@import "dark-themes";